{% extends 'base.html' %}

{% load static %}  <!-- Carga los archivos estáticos -->

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="content">
    <h1>En Salud Integral, tu vida nos importa</h1>

    <img src="{% static 'images/doctor.jpg' %}" alt="doctores" class="img-fluid" style="max-width: 100%; height: auto;">

    <form action="{% url 'buscar_medicos' %}" method="get">
        <input type="text" name="query" placeholder="Buscar médicos...">
        <button type="submit" class="btn btn1">Buscar</button>
    </form>
</div>
{% endblock %}
