{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Paciente</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Asegúrate de que la ruta sea correcta -->
</head>
<body>
     
    <main class="container">
        <h1 class="formu">Formulario para registrar un nuevo paciente</h1>
        
        {% if messages %}
            <ul class="alert alert-info">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <form method="post" class="form-centered">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>

        <br>
        <a href="{% url 'home' %}">
            <button class="btn btn-secondary">Volver a Inicio</button>
        </a>
    </main>
    
    <footer>
        <p>&copy;Salud Integral. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
